# pip install faiss-cpu --no-build-isolation --only-binary=:all: 
# pip install --only-binary=:all: "pyarrow>=16,<17"

langchain 
langchain_openai
langchain_community
openai 
requests 
pandas
python-dotenv
streamlit

